
#bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  background-image: url('../images/bg-home.jpg');
  background-position: top center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
  opacity: 0.5 !important;
  transition: opacity 1s ease;
}

// body::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   z-index: -1;
//   background: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(0,0,0,0.3));
//   pointer-events: none;
// }


// body.home-page #bg-overlay {
//   background-position: center center;
//   background-size: cover;
// }

// body.gallery-page #bg-overlay {
//   background-position: center center;
//   background-size: cover;
// }